# Part 2

Dictionaries are used to store data values in key:value pairs

In [2]:
import pandas as pd

In [3]:
cars = {
    "brand": ["Ford", "Chevrolet", "Toyota", "Honda"],
    "electric": [False, False, False, True],
    "year": [1964, 2020, 2019, 2018]
}
cars["brand"]

['Ford', 'Chevrolet', 'Toyota', 'Honda']

In [4]:
df=pd.DataFrame(cars) # --> covert it to rows and cols
df

       brand  electric  year
0       Ford     False  1964
1  Chevrolet     False  2020
2     Toyota     False  2019
3      Honda      True  2018

In [5]:
type(df.brand)   # --> col (series) all the row of single col 
type(df['brand'])

pandas.core.series.Series

In [6]:
df.brand # access by a dot

0         Ford
1    Chevrolet
2       Toyota
3        Honda
Name: brand, dtype: object

In [7]:
df['brand']  # access by a key

0         Ford
1    Chevrolet
2       Toyota
3        Honda
Name: brand, dtype: object

In [8]:
df[['brand','year']] # to access 2 cols

       brand  year
0       Ford  1964
1  Chevrolet  2020
2     Toyota  2019
3      Honda  2018

In [9]:
df.iloc[0] # in location 0

brand        Ford
electric    False
year         1964
Name: 0, dtype: object

In [10]:
df.iloc[:,:] # all rows for all 
df

       brand  electric  year
0       Ford     False  1964
1  Chevrolet     False  2020
2     Toyota     False  2019
3      Honda      True  2018

# Renaming the cols names

In [11]:
df.columns

Index(['brand', 'electric', 'year'], dtype='object')

In [12]:
df.columns=['b','e','y']
df.columns

Index(['b', 'e', 'y'], dtype='object')

In [13]:
df.rename(index={0:'a',1:'b',2:'c',3:'d'}) # rename indexes

           b      e     y
a       Ford  False  1964
b  Chevrolet  False  2020
c     Toyota  False  2019
d      Honda   True  2018

In [14]:
df.rename(columns={'b':'brand','e':'electric','y':'year'},inplace=True) # rename Column names

In [32]:
# df.loc[2,['brand','year']]=['Abdo',2001]
# df.loc[2,'brand']='Abdo'
df.at[2,'brand']='Abdo'  # take care --> one value
df

       brand  electric  year    0 name
0       FORD     False  1964  NaN  NaN
1  CHEVROLET     False  2020  NaN  NaN
2       Abdo     False  2019   Ao   Ao
3      HONDA      True  2018  NaN  NaN

In [34]:
filt=(df['brand']=='Abdo')
df.loc[filt,'year']=2024
df

       brand  electric  year    0 name       2
0       FORD     False  1964  NaN  NaN     NaN
1  CHEVROLET     False  2020  NaN  NaN     NaN
2       Abdo     False  2024   Ao   Ao  2024.0
3      HONDA      True  2018  NaN  NaN     NaN

In [17]:
df['brand'].str.contains('F') # str make the string in your hand to make functions on it

0     True
1    False
2    False
3    False
Name: brand, dtype: bool

In [18]:
df['brand'].str.capitalize() # first letter is capital
df['brand'].str.upper() # upper
df['brand'].str.lower() # lower

0         ford
1    chevrolet
2       toyota
3        honda
Name: brand, dtype: object

In [19]:
df['brand'].apply(len)   # apply(fun) take function

0    4
1    9
2    6
3    5
Name: brand, dtype: int64

In [20]:
def updateBrand(brand):
    return brand.upper()

In [21]:
df['brand']=df['brand'].apply(updateBrand)  
df

       brand  electric  year    0
0       FORD     False  1964  NaN
1  CHEVROLET     False  2020  NaN
2     TOYOTA     False  2019   Ao
3      HONDA      True  2018  NaN

In [22]:
len(df['brand']) # length of the 'brand' column

4

In [23]:
# df.apply(lambda x: x.count())
df.apply(lambda x: len(x))

brand       4
electric    4
year        4
0           4
dtype: int64

In [24]:
df['year'].apply(lambda x : x+2)

0    1966
1    2022
2    2021
3    2020
Name: year, dtype: int64

In [25]:
df['year'].replace({1964:2020,2022:2020}) # or using map

0    2020
1    2020
2    2019
3    2018
Name: year, dtype: int64